@model BookManagement1.Models.Author

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Author page detail
}
<div>
    <h4>Author</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorSummary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
