@model BookManagement1.Models.Production

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Production page detail
}
<div>
    <h4>Production</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
