@using PagedList.Mvc;
@using BookManagement1.Models;
@model PagedList.IPagedList<Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Home page
}
<div class="row">
    <div class="col-lg-10">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            Actions
            <span class="caret"></span>
        </button>
    </div>
    <div class="col-lg-2">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                All books
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                @using (Html.BeginForm("Index", "Book", FormMethod.Get))
                {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-md-4">
                            <input type="text" value="@ViewBag.SearchString"   placeholder="Enter text search" name="searchString" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary btn-md"> Search</button>
                        </div>
                    </div>
                </div>
                }
                <br />

                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.First().BookID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().BookName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().BookPrices)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().BookDescription)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().BookDateUpdate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().BookQuantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().BookDiscount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Authors.AuthorName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Production.ProductionName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Topic.TopicName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().BookImage)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookPrices)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookDateUpdate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookQuantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookDiscount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Authors.AuthorName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Production.ProductionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Topic.TopicName)
                                    </td>
                                    <td>
                                        <img src="~/Content/image/@item.BookImage" width="100" height="100" />

                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.BookID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.BookID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.BookID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page ,@searchString = @ViewBag.SearchString }))
                </div>
            </div>
        </div>
    </div>
</div>
