@model IEnumerable<BookManagement1.Models.OrderDetail>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Detail order page
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BillOrder.BillOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BillOrder.BillOrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderDetailID })
        </td>
    </tr>
}

</table>
